node_modules
dist
docs
coverage
packages/codegen/testdata/*/actual/*

!packages/codegen/testdata/*/actual/go.*
!packages/codegen/testdata/*/actual/package.*
!packages/codegen/testdata/*/actual/requirements.txt
