spec: apex.axdl
generates:
  interfaces.py:
    module: '{{ .module_python }}'
    visitorClass: InterfacesVisitor
  service.py:
    ifNotExists: true
    module: '{{ .module_python }}'
    visitorClass: ScaffoldVisitor
