spec: apex.axdl
generates:
  interfaces.py:
    module: "jsr:@apexlang/codegen{{ .version_slug }}/python"
    visitorClass: InterfacesVisitor
  service.py:
    ifNotExists: true
    module: "jsr:@apexlang/codegen{{ .version_slug }}/python"
    visitorClass: ScaffoldVisitor
