spec: spec.apexlang
config:
  package: {{.package}}
  module: {{.module}}
generates:
  pkg/{{.package}}/interfaces.go:
    module: '@apexlang/codegen/go'
    visitorClass: InterfacesVisitor
  pkg/{{.package}}/wapc.go:
    module: '@apexlang/codegen/tinygo'
    visitorClass: WapcExportVisitor
  pkg/{{.package}}/services.go:
    ifNotExists: true
    module: '@apexlang/codegen/go'
    visitorClass: ScaffoldVisitor
    config:
      types:
        - service
  cmd/main.go:
    ifNotExists: false
    module: '@apexlang/codegen/tinygo'
    visitorClass: WapcMainVisitor
    config:
      import: github.com/myorg/myservice/pkg/{{.package}}

