{
  "name": "{{ .name }}",
  "version": "{{ .version }}",
  "description": "{{ .description }}",
  "keywords": ["idl", "codegen"],
  "exports": {
    ".": "./templates/mod.ts",
    "./visitors": "./src/visitors/mod.ts"
    "./templates": "./templates/mod.ts",
  },
  "publish": {
    "include": [
      "LICENSE",
      "README.md",
      "templates",
      "deps/**/*.ts",
      "src/**/*.ts"
    ],
    "exclude": ["src/tests"]
  }
}
