# {{ .name }} Code Generators

TODO: Description here

## Installation

Make sure you have the Apex CLI installed. Here are
[the instructions](https://apexlang.io/docs/getting-started).

From your terminal, run:

```shell
apex install jsr:{{ .name }}/templates
```
