spec: spec.apexlang
config:
  package: {{.package}}
  module: {{.module}}
  logger:
    import: "github.com/go-logr/logr"
    interface: "logr.Logger"
generates:
  openapi.yaml:
    module: 'jsr:@apexlang/codegen/openapiv3'
    visitorClass: OpenAPIV3Visitor
  proto/service.proto:
    module: 'jsr:@apexlang/codegen/proto'
    visitorClass: ProtoVisitor
    config:
      options:
        go_package: {{.module}}/proto
    runAfter:
      - command: |
          protoc
          --go_out=.
          --go_opt=paths=source_relative
          --go-grpc_out=.
          --go-grpc_opt=paths=source_relative
          proto/service.proto
  pkg/{{.package}}/interfaces.go:
    module: 'jsr:@apexlang/codegen/go'
    visitorClass: InterfacesVisitor
  pkg/{{.package}}/fiber.go:
    module: 'jsr:@apexlang/codegen/go'
    visitorClass: FiberVisitor
  pkg/{{.package}}/grpc.go:
    module: 'jsr:@apexlang/codegen/go'
    visitorClass: GRPCVisitor
    config:
      protoPackage: {{.module}}/proto
  pkg/{{.package}}/services.go:
    ifNotExists: true
    module: 'jsr:@apexlang/codegen/go'
    visitorClass: ScaffoldVisitor
    config:
      types:
        - service
  pkg/{{.package}}/providers.go:
    ifNotExists: true
    module: 'jsr:@apexlang/codegen/go'
    visitorClass: ScaffoldVisitor
    config:
      types:
        - provider
  cmd/main.go:
    ifNotExists: false  # Change to true to control dependency injection
    module: 'jsr:@apexlang/codegen/go'
    visitorClass: MainVisitor
