name: Build

on:
  push:
    branches:
      - main
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - release-*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: extractions/setup-just@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: just build
      - run: just unit

      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Install Apex CLI
        run: wget -q https://apexlang.io/install.sh -O - | /bin/bash

      - name: Install Protoc
        run: |
          PB_REL="https://github.com/protocolbuffers/protobuf/releases"
          curl -LO $PB_REL/download/v21.5/protoc-21.5-linux-x86_64.zip
          sudo unzip protoc-21.5-linux-x86_64.zip -d /usr/local

      - name: Install protoc-gen-go
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28.1
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2.0

      - name: Install swagger-cli
        run: npm install -g @apidevtools/swagger-cli

      - name: Validate generated OpenAPI
        run: find . -name 'openapi.yaml' -exec swagger-cli validate {} \;
        working-directory: ./packages/codegen/testdata

      - run: just integration

      - name: Is Release?
        if: startswith(github.ref, 'refs/tags/v')
        run: echo "DEPLOY_PACKAGE=true" >> $GITHUB_ENV

      - name: Publish to npm
        if: env.DEPLOY_PACKAGE == 'true'
        run: npm pack && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
